/*********************
VARIABLES
*********************/

$nav-color: #000;
$nav-font:arial,sans-serif;;


div {
	width:80%;
	
	margin:0 auto;
	background:#8B8BEF;

}



/*********************
NAVIGATION
*********************/


nav  {
	background: red;
	ul {	
		float:right;
		list-style:none;
		display:flex;

		li {
			a {
			font-family: $nav-font;
			font-size:13px;
			opacity:0.75;
			 padding:10px;
			 display:block;
			 text-decoration:none;
			 color:$nav-color;
			 &:hover {
				text-decoration:underline;

				}
			
			}
		}
	}	
}